<div class="row">
  <div class="span5">
    <div class="jumbotron">
      <h1>Hotplate</h1>
      <p class="lead">This service solves that big problem you've been having.</p>
      <p>
        <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-success btn-large" %>
      </p>
    </div>
  </div>
</div>