<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Web Service</h1>
  <p>This service solves that big problem you've been having.<br><small>This is where most startups end. A constant circle jerk around how this message can be better delivered will prevent you from building anything valuable.</small></p>
  
  <p><%= link_to "Sign Up", new_user_registration_path, :class => "btn" %></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>Nailed it.</h2>
    <p>This feature sells the service along with primary above.</p>
    <p><%= link_to "Sign Me Up!", new_user_registration_path, :class => "btn" %></p>
  </div>
  <div class="span4">
    <h2>Something else...</h2>
    <p>Make SSL certificates or other plain jane security measures sound like another feature.</p>
    <p><a class="btn" href="#">See another sales page</a></p>
 </div>
  <div class="span4">
    <h2>This isn't English!</h2>
    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
</div>