body{
  .content{
    margin-top: 60px;
  }
  .navbar{
    .nav{
      float: none;

      li.right {
        float: right;
      }

      .dropdown{
        padding: 10px;

        .dropdown-toggle{
          color: #ffffff;
        }
      }
    }
  }

  .jumbotron{
    padding: 40px 0 20px 0;
    h1{
      margin: 0 0 40px 0;
      font-size: 5.6em;
      text-transform: uppercase;
      font-weight: normal;
      letter-spacing: -0.05em;
      color: #ccc;
    }
  }

  .hidden{
    display: none;
  }
}